Workflow-n8n/Newsletter/Json file/newsletterbot.json
{
  "name": "newsletterbot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        -512
      ],
      "id": "2e85458c-95b4-4939-8870-58319c6be75f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "query": "ai adoption for small businesses",
        "options": {
          "topic": "news",
          "max_results": 3,
          "time_range": "day"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -480,
        -480
      ],
      "id": "5d4b1324-bea6-432a-8a7a-d627ad99a9a4",
      "name": "Search ",
      "credentials": {
        "tavilyApi": {
          "id": "t77cYFZ7Zw9Zu733",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        -80
      ],
      "id": "e4415075-a29f-484a-bdba-d648e277436c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hVFMwK4rExyfuoq1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"title\", \"topics\"],\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"A short, descriptive title\"\n    },\n    \"topics\": {\n      \"type\": \"array\",\n      \"description\": \"An array of exactly three topics\",\n      \"minItems\": 3,\n      \"maxItems\": 3,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        -192
      ],
      "id": "834c62c6-5082-4d68-adea-d8ce87484163",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.topics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        112,
        -464
      ],
      "id": "c4c2b1bf-fc0c-4c5e-bc21-1988aeb7b603",
      "name": "Split Out"
    },
    {
      "parameters": {
        "query": "={{ $json['output.topics'] }}",
        "options": {
          "topic": "general",
          "time_range": "month",
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        352,
        -432
      ],
      "id": "b76edc73-454a-4b29-aca4-0251d378a3dd",
      "name": "research topics",
      "credentials": {
        "tavilyApi": {
          "id": "t77cYFZ7Zw9Zu733",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=topic:{{ $json.query }}\n\nResearch:\n{{ $json.results.map(item => JSON.stringify(item, null, 2)).join('\\n\\n') }}\n",
        "options": {
          "systemMessage": "System Message:\n\n# Overview\nYou are a professional newsletter section writer. Your only task is to write one standalone section of a newsletter.\n\n## Instructions\n- Always include a clear section heading followed by the section content.\n- Do not write an overall title, introduction, or conclusion.\n- Write in a professional, expert, and engaging tone suitable for a business newsletter.\n- If you reference facts, data, or quotes, you must cite your sources and provide the actual clickable URLs.\n- Do not invent citations—only include real, verifiable sources.\n- Keep the section concise, well-structured, and easy to read."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -464
      ],
      "id": "f1321e9a-44d5-4379-bf6f-42c9a21f268b",
      "name": "Section Writer Agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "a3d630bc-7eea-4d0f-b036-e5ffb629ed18",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message:\nTitle: {{ $('Planning Agent').item.json.output.title }}\n\nSections: {{ $json.output.join('\\n\\n\\n') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=System Message:\n\n# Overview\nYou are an expert newsletter editor. Merge exactly three provided sections into a cohesive, email-ready HTML body with a holistic introduction and conclusion. Maintain a professional, concise tone for a business audience and preserve intended meaning.\n\n## Goals\n- Refine clarity, flow, and consistency across all sections.\n- Keep total content output ≤ 1000 words (hard limit). Avoid fluff.\n\n## Structure (HTML only)\n1) <p> Introduction that frames the three topics and their relevance; reference today’s date: {{ $now.format('yyyy-MM-dd') }}.\n2) For each provided section:\n   - <h2> Use or lightly adjust the given title.\n   - Edited <p> content.\n   - Inline, clickable citations near related claims using <a href=\"https://...\">Source</a>. Never invent sources.\n3) <h3>Sources</h3><ul> A single consolidated list:\n   - Each item: <li><a href=\"[URL]\">[Publication Name] – [Article Title]</a></li>\n   - Include full URLs, deduplicate identical links, and alphabetize by Publication Name.\n4) <p> Conclusion tying threads together with implications or next steps.\n\n## Citation and Link Rules\n- Every factual claim relying on external information must include a real, verifiable, clickable URL.\n- Preserve any provided citations; standardize to the <a> format.\n- Omit unverifiable links rather than fabricate.\n- Use only basic HTML tags (<h2>, <h3>, <p>, <ul>, <li>, <a>). No images, scripts, styles, or external CSS.\n\n## Input\n- You will receive three sections. Edit and integrate them without adding unrelated topics.\n\nOutput Format (return only this)\nSubject: One clear, specific subject line (≤ 80 characters)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        -16
      ],
      "id": "c6e8187f-3898-41b5-8888-c167d8c4dc2f",
      "name": "Editor Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        160
      ],
      "id": "bc48be2e-11c0-4aa1-b50c-d76eeb7c8226",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hVFMwK4rExyfuoq1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results.map(item => JSON.stringify(item, null, 2)).join('\\n\\n') }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\nOverview\n\nYou are an expert newsletter planner. You will receive three articles from the past week. Your task is to create a creative and engaging title, along with the main topics for this newsletter.\n\nInstructions\n\nThe newsletter should have a smooth flow, be informative, and present a holistic view of the content. Each topic should be 3–5 words long.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        -464
      ],
      "id": "afb9b556-6fff-4863-bafa-052ef87795fb",
      "name": "Planning Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\"\n    },\n    \"content\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"subject\", \"content\"]\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        192
      ],
      "id": "9b28f77a-fc0a-44fa-8116-07f11c9e07c5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.subject }}",
        "emailType": "html",
        "message": "={{ $json.output.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        -320
      ],
      "id": "90544fbd-7673-4e26-a151-7bc3ceb371e3",
      "name": "Create a draft",
      "webhookId": "0a814fad-f76a-4f9b-97fd-214d85250e8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "NwdPnYFWQDN43pvE",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#all-kasthumanigenai"
        },
        "text": "=📊 *{{ $json.output.subject }}*  {{ $json.output.content.replace(/<[^>]*>/g, '') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        976,
        224
      ],
      "id": "ee43486b-e5c8-40bd-97a2-3b195714e834",
      "name": "Send a message",
      "webhookId": "a8f2a14d-e019-4358-a6fe-a66839a9e439",
      "credentials": {
        "slackApi": {
          "id": "xndWJN437kcePzns",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Aggregate').item.json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        240
      ],
      "id": "9ed8eb12-a396-4d69-a241-9ea963a2da6b",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search ": {
      "main": [
        [
          {
            "node": "Planning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Section Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "research topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research topics": {
      "main": [
        [
          {
            "node": "Section Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Writer Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Editor Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "53fef612-00dc-489a-b114-d8cf616ce376",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50560328c112303800857c06f5cb01cc0ce6bd8398d8cd99ea54dacc75b860c9"
  },
  "id": "WtBuFWRhPEAso47j",
  "tags": []
}